# ===================================
# Python
# ===================================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# ===================================
# Build & Distribution
# ===================================
build/
dist/

# ===================================
# Dependencies & Lock Files
# ===================================
uv.lock

# ===================================
# Experiments & Logs
# ===================================
experiments/
wandb_logs/
logs/

# ===================================
# Hidden Files & Directories
# ===================================
.*
!.gitignore